.suo
.vs
bin
!DSCConfiguration/PowerShellAccessControl_3.0_20150413/PowerShellAccessControl/bin
obj
*.user
*.suo
IdentityServer/log.txt
packages/
logs/
IdentityServer/IdentityServer.7z
IdentityServer/config/Web.demo.config
IdentityServer/config/Web.dev.config
IdentityServer/config/Web.dr.config
IdentityServer/config/Web.mo.config
IdentityServer/config/Web.prod.config
IdentityServer/config/Web.qx.config
DSCConfiguration/MOF/NY-DEV-1131.mof
DSCConfiguration/MOF/NY-DEV-1131.mof
IdentityServer/DSCConfiguration/MOF/NY-DEV-1131.mof
IdentityServer/config/Web.debug.config
IdentityServer/config/Web.nylab.config
IdentityServer/config/Web.stg.config
